
#main-content table {
    border: 1px solid #E9E9E9 !important;
    border-collapse: collapse;
    font-family: Arial,Helvetica,sans-serif !important;
    margin-bottom: 7px;
    width: 100%;
}
#main-content table thead th {
    /*background: url("../images/bg-content-box.gif") repeat-x scroll left top #E5E5E5;*/
    background: #E5E5E5;
    border-bottom: 1px solid #DDDDDD;
    font-size: 12px;
    font-weight: bold;
}
#main-content tbody {
    border-bottom: 1px solid #DDDDDD;
}
#main-content tbody tr {
    background: none repeat scroll 0 0 #FFFFFF;
}
#main-content tbody tr.alt-row {
    background: none repeat scroll 0 0 #F3F3F3;
}
#main-content table td, #main-content table th {
    line-height: 1.5em;
    padding: 10px;
}
#main-content table tfoot td .bulk-actions select {
    border: 1px solid #CCCCCC;
    padding: 4px;
}
#main-content .pagination {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    text-align: right;
}
